<section class="projects">
    <div class="container">
      <h2>My Projects</h2>
      <div class="project-card">
        <img src="https://angular.io/assets/images/logos/angular/shield-large.svg" alt="Project 1">
        <div class="project-details">
          <h3>Project 1</h3>
          <p>A description of the project goes here.</p>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
      <div class="project-card">
        <img src="https://angular.io/assets/images/logos/angular/shield-large.svg" alt="Project 3">
        <div class="project-details">
          <h3>Project 2</h3>
          <p>A description of the project goes here.</p>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
    </div>
  </section>
  